
@model AGsite.Models.SurveyData

<div class="row">
  <div class="col-md-6">
    <div class="container">
      <div class="col-md-10">
        <h1 class="title">Dear City of Aliquippa</h1>
        <div class="trailer">
    <iframe width="800" height="450" src="https://www.youtube.com/embed/o8OmVI0lUwo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
      </div>
    </div>
  </div>
 


  <div class="col-md-6">
    <h1 class="title">#LetQuipDecide</h1>
          <form asp-action="Create" method="post" class="Petition">
            <div class="row">
              <div class="col-md-6">
                <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name">
              </div>
              <div class="col-md-6">
                <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input asp-for="Email" type="text" class="form-control" placeholder="Email Address" >
              </div>
              <div class="col-md-6">
                <select class="form-control">
                  <option value="placeholder">Years in Quip</option>
                  <option value="0-1">0-1</option>
                  <option value="1-5">1-5</option>
                  <option value="5-10">5-10</option>
                  <option value="10+">10+</option>
                </select>
              </div>
            </div>
            <textarea asp-for="Answer"  class="form-control" placeholder="What should we turn the Jones School building into?"
              rows="7"></textarea>
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto">
                <button class="btn btn-primary btn-block btn-round">Submit</button>
              </div>
            </div>
          </form>
          <h4 class="disclaim">Your personal information will be kept private and held securely. By submitting information you are agreeing to your first name being displayed and being included in the petition during the hearing. We may use your email to send you further updates. You may unsubscribe from these emails at any time.</h4>
  </div>
  </div>
    <div class="row" style="justify-content: space-evenly;" style="background-color: darkkhaki;">

        <img src="\Site Assets\POV3_Jones_Schooltif.png" width="400" height="190">
        
          <img src="\Site Assets\POV1_Jones_Schooltif.png" width="400" height="190">
      
            <img src="\Site Assets\POV2_Jones_Schooltif.png" width="400" height="190">
       
    </div>
  <div class="row">
<div class="container">
  <h1 class="title" style="text-align: center;">Who Has Signed So Far?</h1>
    <table>
      <thead>
        <tr>
          <th>
            First Name
          </th>
          <th>

          </th>
          <th>
            @Html.DisplayNameFor(model => model.Answer)
          </th>
        </tr>
      </thead>
         <tbody>
        @foreach (var item in (List<SurveyData>)ViewBag.Petition) //hey the viewbag named petition is going to be the survey data. 
          {
          <tr>
          <td>
          @Html.DisplayFor(modelItem => item.FirstName)
          </td>
          <td>

          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Answer)
          </td>
        </tr>
        }
      </tbody>
    </table>

    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
