<!--
=========================================================
* Paper Kit Pro - v2.3.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-kit-2-pro
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->

@model AGsite.Models.SurveyData

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img//apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img//favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>

  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/paper-kit.css?v=2.3.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>

<body>

  <div class="column">
    <div class="container">
      <div class="col-md-12 ml-auto mr-auto text-center">
        <h1 class="title">Dear City of Aliquippa</h1>
        <p class="para">
          In 2005 a development project began on Plan 11 of Aliquippa at the former Jones School Elementary site that hasn’t been completed
          to date. On December 22nd, 2020 at 9:30 AM there will be a hearing at the Beaver County Courthouse to
          discuss how best to move forward with the site. Concerned residents of Aliquippa have proposed that the
          site be converted into a space that adds value to the community. If you are interested in sharing
          your thoughts please fill out the petition below.

          And please consider attending the hearing.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h1 class="hash"><small>#LetQuipDecide</small></h1>
          <form asp-action="Create" method="post" class="Petition">
            <div class="row">
              <div class="col-md-6">
                <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name">
              </div>
              <div class="col-md-6">
                <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input asp-for="Email" type="text" class="form-control" placeholder="Email Address" >
              </div>
              <div class="col-md-6">
                <select class="form-control">
                  <option value="placeholder">Years in Quip</option>
                  <option value="0-1">0-1</option>
                  <option value="1-5">1-5</option>
                  <option value="5-10">5-10</option>
                  <option value="10+">10+</option>
                </select>
              </div>
            </div>
            <textarea asp-for="Answer"  class="form-control" placeholder="What should we turn the Jones School building into?"
              rows="7"></textarea>
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto">
                <button class="btn btn-primary btn-block btn-round">Submit</button>
              </div>
            </div>
          </form>
          <h3 class="visit"><small>Put a petition disclaimer here. Something something sending emails and whatnot and
              so.</small></h3>
        </div>
      </div>
    </div>
  </div>


  <div class="column2">
    <h1 class="titleR">Who Has Signed So Far?</h1>
    <table>
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th class="blank"></th>
          <th>
            @Html.DisplayNameFor(model => model.Answer)
          </th>
        </tr>
      </thead>
         <tbody>
        @foreach (var item in (List<SurveyData>)ViewBag.Petition) //hey the viewbag named petition is going to be the survey data. 
          {
          <tr>
          <td>
          @Html.DisplayFor(modelItem => item.FirstName)
          </td>
          <td class="blank"></td>
          <td>
          @Html.DisplayFor(modelItem => item.Answer)
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}





  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="../assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="../assets/js/plugins/moment.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="../assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
  <!--	Plugin for Datetimepicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="../assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!--  Plugin for presentation page - isometric cards  -->
  <script src="../assets/js/plugins/presentation-page/main.js"></script>
  <!--  Vertical nav - dots -->
  <!--  Photoswipe files -->
  <script src="../assets/js/plugins/photo_swipe/photoswipe.min.js"></script>
  <script src="../assets/js/plugins/photo_swipe/photoswipe-ui-default.min.js"></script>
  <script src="../assets/js/plugins/photo_swipe/init-gallery.js"></script>
  <!--  for Jasny fileupload -->
  <script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!-- Control Center for Paper Kit: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/paper-kit.js?v=2.3.1" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <script>
    $(document).ready(function () {

      // Javascript method's body can be found in assets/js/core/partials/_demo-object.js
      demo.initContactUsMap();
    });
  </script>
</body>

<style>

  .column {
    float: left;
    width: 55%;
    min-height: 100vh;
    background-color: white;
    background-blend-mode: lighten;
  }

  table, th, td {
    padding-left: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.blank {
    padding-left: 2%;
}

  .para{
    line-height: 250%;
    font-weight: bold;
    text-align: center;
    padding-left: 12%;
    padding-right: 12%;
    

  }
  .column2 {
    float: right;
    width: 45%;
    max-height: 100vh;
    background-color: lightslategray;
    background-color: 50%;
    color: white;
    overflow-y: auto;
  }
  .titleR {
    color: white;
    text-align: center;

  }

  .hash {
    font-size: 100px;
    padding-bottom: 5%;
  }

</style>

</html>