@{
    ViewData["Title"] = "Home Page";
}

<div class="about-section">
    <h1>About Us</h1>
    <p class="para">This website is dedicated to the collaborative effort between Aliquippa Green Inc, a nonprofit and
        QuipWorks, its
        social enterprise subsidiary. The mission of Aliquippa Green is to empower citizens of Aliquippa to become food
        producers and home owners by providing educational programming to youth and young adults on the topics of urban
        agriculture, green technology, and home restoration. Our vision is to restore the community by giving members
        tools necessary to invest and build sustainable change.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row" id="peoplecards">
    <div class="col-md-4">
        <div class="card">
            <img src="\Site Assets\headshotZ.jpg" alt="Zabriawn Smith" style="width:100%">
            <div class="container">
                <h2>Zabriawn Eugene Smith</h2>
                <p class="title">Treasurer & Founder</p>
                <p class="title">"There is no end to learning."</p>
                <p>Zabriawn Eugene Smith is an Aliquippa native and resident. Currently a realtor and executive at a
                    business incubator, Zabriawn brings a host of different skillsets to the resource pool for Aliquippa
                    Green. After making the most of his academic scholarhship to Washington and Lee University, Zabriawn
                    taught elementary school for 3 years. His focus is on connecting Aliquippa to recources that already
                    exist and have proven successful in larger cities. </p>
                <p>Contact: zeugenesmith@gmail.com</p>
                <p><a href="https://www.zabriawn.com" class="button">Connect</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <img src="\Site Assets\alexjones.jpg" alt="Alexandra Jones" style="width:100%">
            <div class="container">
                <h2>Alexandra Jones</h2>
                <p class="title">Chair & Founder</p>
                <p class="title">"Reach back for knowledge and wisdom, be present for experience and understanding, and
                    teach for a
                    better tomorrow."</p>
                <p>Alex Jones graduated from the University of Pittsburgh with a Bachelor of Arts in Urban Studies and a
                    Certificate in Nonprofit Management. After graduating she worked at the Western Pennsylvania Diaper
                    Bank as the Administrative Assistant and served as a Public Ally AmeriCorps Apprentice with Reading
                    is Fundamental Pittsburgh. Alex also served as the Community Service Chair for the Urban League
                    Young Professionals of Greater Pittsburgh.</p>
                <p>Contact: aliquippagreeninc@gmail.com</p>
                <p><a href="https://www.linkedin.com/in/alexandra-jones-a7821a186/" class="button">Connect</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <img src="\Site Assets\marissa.jpg" alt="Marissa Stakeley" style="width:100%">
            <div class="container">
                <h2>Marissa Stakeley</h2>
                <p class="title">Board Member</p>
                <p class="title">"Synchronize with the earth: one's focused energy moves this world either forward or
                    back."</p>
                <p>Marissa A. Stakeley currently pursues a BS in Sustainability in Energy and
                    Urban Systems and minors in Business at Chatham University. She is an EcoDistricts Accredited
                    Professional. Her focus is in alternative, affordable, and sustainable housing solutions. She also
                    deeply cares about the re-establishment of hyper-local food, transportation, and energy generation
                    systems to serve those in a community.</p>
                <p>Contact: mastakeley@gmail.com</p>
                <p><a href="https://www.linkedin.com/in/marissastakeley/" class="button">Connect</a></p>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }

    #peoplecards {
        justify-content: space-evenly;
    }

    html {
        box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .about-section {
        padding: 10px;
        text-align: center;
        background-color: #DC143C;
        color: white;
        font-size: 1.2em;
    }

    .container {
        padding: 0 16px;
    }

    .container::after,
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    .para {
        font-size: 1em;
    }

    .title {
        color: grey;
        margin: 0%;
    }

    .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        margin-bottom: 5px;
    }

    .button:hover {
        background-color: #555;
    }

    }
</style>