@{
    ViewData["Title"] = "Home Page";
}

<body class="sidebar-collapse">

    <div class="text-center">
        <h1>QuipCares</h1>
    </div>

    <div class="section">
        <div class="container">
            <div class="row card-body-row">
                <div class="col-md-4 col-sm-4">
                    <div class="info">
                  
                            <img class="icon" src="\Site Assets\gardening-tools.png">
                    
                        <div class="description">
                            <h4 class="info-title"> Tools </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="info">
                     
                            <img class="icon" src="\Site Assets\networking.png">
                 
                        <div class="description">
                            <h4 class="info-title"> Networking </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="info">
                        
                            <img class="icon" src="\Site Assets\cash.png">
                        
                        <div class="description">
                            <h4 class="info-title"> Incentives </h4>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <p class="para">The QuipCares Program is a remix of the CommunityCares Program created by Grounded. <br>The focus of this
                program is to get residents excited about making a visible difference in their neighborhood. <br>This is
                done by taking care of the vacant lots around town and/or giving them a makeover. <br>You decide what happens to these lots and what they look like.
            <hr />
            <div class="faq">
                <h4>Key Focus Points</h4> <br />
                <div id="acordeon">
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card no-transition">
                            <div class="card-header card-collapse" role="tab" id="headingOne">
                                <h5 class="mb-0 panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Develop local skills and talent.
                                        <i class="nc-icon nc-minimal-down"></i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    Participants are provided training and tools to improve vacant lots in their
                                    neighborhood. With the help of our partners at Grounded, we will offer hands-on
                                    workshops to expand skills. These skills will help people take care of their
                                    neighborhood and qualify for potential job opportunities in the green workforce.
                                </div>
                            </div>
                            <div class="card-header card-collapse" role="tab" id="headingTwo">
                                <h5 class="mb-0 panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Celebrate passionate residents making a difference.
                                        <i class="nc-icon nc-minimal-down"></i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body">
                                    Nothing successful ever happens without a plan. QuipCares welcomes, encourages, and
                                    celebrates community members taking the lead on projects and strives to inspire
                                    others to take an active role in caring for their environment.
                                </div>
                            </div>
                            <div class="card-header card-collapse" role="tab" id="headingThree">
                                <h5 class="mb-0 panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Sustain participation through support networks.
                                        <i class="nc-icon nc-minimal-down"></i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="card-body">
                                    In order to sustain long-term participation in the program activities we encourage
                                    the connection of residents to develop professional and social networks. The
                                    participants work among like-minded individuals and are motivated by each other’s
                                    dedication to their community and environment.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>