@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CS For Quips!</h1>
</div>

<div class="vidwrapper">
    <div class="vid-container" id="first">
        <iframe class="video" src="https://www.youtube.com/embed/mRuPUh-_pXU">Video 2</iframe>
    </div>
    <div class="vid-container" id="second">
        <iframe class="video" src="https://www.youtube.com/embed/lo5cG0FhWro">Video 2</iframe>
    </div>
</div>

<div>
    <hr />
    <p class="para" id="CS">CS for Quips is a free 6 week virtual computer science course for students in grades 6-10.
        Students
        will learn the basics of HTML, JavaScript, and CSS to build their own website. The classes will be instructed by
        experienced professionals from Beta Builders. Funding secured with the assistance of Grow a Generation
        STEM Leadership Center. Interested? Upload a video of you explaining why you would like to be a part of the
        program. Students 6th-10th grade can apply! </p>
    <hr />
</div>

<form action="https://www.paypal.com/donate" method="post" target="_top">
    <input type="hidden" name="hosted_button_id" value="9GTCBTUKVA47Y" />
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit"
        title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
</form>

<div id="wrapperp">
    <div>
        <img class="posters" src="\Site Assets\2.png" id="firstp">
    </div>
    <div>
        <img class="posters" src="\Site Assets\4.png" id="fourthp">
    </div>
    <div>
        <img class="posters" src="\Site Assets\3.png" id="secondp">
    </div>
</div>
