@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CS For Quips</h1>
    <p>Insert Flyers and a short paragaph explaining.</p>
</div>

<div class="vid-container" id="first">
    <iframe class="video" src="https://www.youtube.com/embed/mRuPUh-_pXU">Video 2</iframe>
</div>
<div class="vid-container" id="second">
    <video>Video 1</video>
</div>


<img src="\Site Assets\Beta-Builders-Academy-Pittsburgh-logo-800.png"> 

<style>
    .vid-container {
        height: 25vh;
        width: 50%;
        text-align: center;

    }

    .video {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    #first {
        float: left;
        background-color: red;
    }

    #second {
        float: right;
        background-color: blue;
    }
    body {
        padding-bottom: 0%;
    }
</style>