@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CS For Quips!</h1>
</div>

<div class="vidwrapper">
    <div class="vid-container" id="first">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/iMmkvm2lo2A" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="vid-container" id="second">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MgJjJ_1vTvw" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>

<div>
    <hr />
    <p class="para" id="CS">CS for Quips is a free 6 week virtual computer science course for students in grades 6-10.
        Students
        will learn the basics of HTML, JavaScript, and CSS to build their own website. The classes will be instructed by
        experienced professionals from Beta Builders. Funding secured with the assistance of Grow a Generation
        STEM Leadership Center. Interested? Parents and Students can contact Zabriawn Smith at 618-741-9611 or
        zeugenesmith@gmail.com </p>
    <hr />
</div>

<div id="wrapperp">
    <div>
        <img class="posters" src="\Site Assets\2.png" id="firstp">
    </div>
    <div>
        <img class="posters" src="\Site Assets\4.png" id="fourthp">
    </div>
    <div>
        <img class="posters" src="\Site Assets\3.png" id="secondp">
    </div>
</div>
