@{
    ViewData["Title"] = "QUIP WORKS";
}

<div class="text-center">
    <h1>Home of the Aliquippa Renaissance</h1>
</div>

<div class="trailer">
    <iframe width="720px" class="video" src="https://www.youtube.com/embed/mRuPUh-_pXU">Video 2</iframe>
</div>

