@{
    ViewData["Title"] = "QUIP WORKS";
}

<div class="text-center">
    <h1>Home of the Aliquippa Renaissance</h1>
</div>

<div class="trailer">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/OIVs-ClBIF8" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>