@{
    ViewData["Title"] = "QUIP WORKS";
}

<div class="text-center">
    <h1>Home of the Aliquippa Renaissance</h1>
</div>

<div class="trailer">
    <iframe width="800" height="450" src="https://www.youtube.com/embed/o8OmVI0lUwo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>